<link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">

<link href="{{ url_for('static', filename='font-awesome/css/font-awesome.css') }}" rel="stylesheet">

<link href="{{ url_for('static', filename='css/jquery-ui.css') }}" rel="stylesheet">


<link href="{{ url_for('static', filename='css/jquery.dataTables.min.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='css/dataTables.checkboxes.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='css/plugins/steps/jquery.steps.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='css/sumoselect.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='css/plugins/select2/select2.min.css') }}" rel="stylesheet"><!-- Auto Select -->
<link href="{{ url_for('static', filename='css/plugins/chosen/bootstrap-chosen.css') }}" rel="stylesheet"><!-- Multi Select -->

<link href="{{ url_for('static', filename='css/plugins/nouslider/jquery.nouislider.css') }}" rel="stylesheet"><!-- no ui slider -->
<link href="{{ url_for('static', filename='css/plugins/switchery/switchery.css') }}" rel="stylesheet"><!-- switchery (On Off Button) -->

<link href="{{ url_for('static', filename='css/sweetalert.css') }}" rel="stylesheet">

<link href="{{ url_for('static', filename='css/animate.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">

<link href="{{ url_for('static', filename='css/plugins/iCheck/custom.css') }}" rel="stylesheet">

<link href="{{ url_for('static', filename='css/cstm-style.css') }}" rel="stylesheet">
<link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}"/>