<div class="row border-bottom headerStaticTop">
    <nav class="navbar navbar-static-top white-bg" role="navigation" style="margin-bottom:0px;">
        <div class="nav-wrapper container cstmHeader">
            <div class="headerLogo">
                <a id="logo-container" href="#" class="brand-logo">
                    <img src="{{ url_for('static', filename='img/logo.png') }}">
                </a>
            </div>
            <a data-toggle="dropdown" class="dropdown-toggle pull-right" href="#" style="padding:12px;">
                <b><span id="username"></span></b> <b class="caret"></b>
            </a>
            <ul class="dropdown-menu userDropDownMenu m-t-xs" style="right:30px;top:30px;left:inherit;">
                <li><a href="user_profile.jsp"><i class="fa fa-user" aria-hidden="true"></i> Profile</a></li>
                <li><a class="modalMaterial-trigger" href="logout.jsp"><i class="fa fa-power-off" aria-hidden="true"></i> Logout</a></li>
            </ul>
        </div>
    </nav>
</div>
