<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>

<p>Dear User,</p>

<p>Someone recently requested a password change for your OCTAD account. If this was you, you can set a new password here:<br><a href="{{ reset_link }}">Reset Password</a></p>

<p>If you don't want to change your password or didn't request this, just ignore and delete this message.</p>

<p>In case you have any questions or comments, you can reach us at octad_contact@gmail.com. </p>

<p>Thanks,<br>OCTAD Team</p>
</body>
</html>