<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>UC San Francisco</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/optraIcon.png') }}" type="image/x-icon">

    {% include 'base/css_links.html' %}

    <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery.dataTables.min.css') }}"/>
</head>
    <body>
        {% include 'base/header.html' %}
        <div id="page-wrapper" class="gray-bg">
            <div class="row wrapper border-bottom white-bg page-heading" style="margin-top:46px;">
                <div class="col-lg-12">
                    <h2 class="text-navy" style="font-weight:400;">Create Job</h2>
                    <ol class="breadcrumb">
                        <li><a href="{{ url_for('dashboard.dashboard') }}">Jobs</a></li>
                        <li class="active"><strong>Create Job</strong></li>
                    </ol>
                </div>
            </div>

            <div class="wrapper wrapper-content  animated fadeInRight">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="ibox ">
                            <div class="ibox-title">
                                <h5 class="pull-left">Please provide following details and parameters for a new job-</h5>
                            </div>
                            <div class="ibox-content">
                                <form role="form" id="addJob">
                                    <div class="form-group">
                                        <label>Job Name</label>
                                        <input type="text" placeholder="Enter Job name" class="form-control" name="jobName" required>
                                    </div>
                                    <div class="form-group">
                                        <label>Description</label>
                                        <textarea type="text" class="form-control" name="Job description"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">Patient Sample</label>
                                        <select class="form-control m-b" name="disease" required>
                                            <option value="">Select</option>
                                            <option value="1">Glioma</option>
                                            <option value="2">Astrocyte </option>
                                            <option value="3">Oligodendrocyte </option>
                                            <option value="4">Ependymal </option>
                                        </select>
                                    </div>
									<div class="form-group">
                                        <label class="control-label">GDC Project</label>
                                        <select class="form-control m-b" name="gdcproject"required>
                                            <option value="">Select</option>
                                            <option value="1">TCGA-LGG</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">Mutation Gene</label>
                                        <select class="form-control m-b" name="gene"required>
                                            <option value="">Select</option>
                                            <option value="1">IDH1</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">Site</label>
                                        <select class="form-control m-b" name="site"required>
                                            <option value="">Select</option>
                                            <option value="1">Brain - Amygdala</option>
                                            <option value="2">Liver</option>
                                        </select>
                                    </div>

                                   <!-- <div>
                                        <button class="btn btn-sm btn-primary m-t-n-xs" type="submit"><strong>Submit</strong></button>
                                    </div> -->
                                </form>
                            </div>
                        </div>
                    </div>
					
					
					<div class="col-lg-6">
                        <div class="ibox ">
                            <div class="ibox-title">
                                <h5 class="pull-left">Additional Parameters</h5>
                            </div>
                            <div class="ibox-content">
                                <form role="form" id="addJob">
								<div style="height: 405px;overflow: auto;">
                                    <div class="form-group">
                                        <label>Threshold (correlated cut off)</label>
                                        <input type="text" placeholder="0" class="form-control" name="jobName" required>
                                    </div>
									
									<div class="form-group">
                                        <label>Remove Outlier</label>
                                        <select class="form-control m-b" name="site"required>
                                            <option value="1">True</option>
                                            <option value="0">False</option>
                                        </select>
                                    </div>
									<div class="form-group">
                                        <label>Remove Impure Samples</label>
                                        <select class="form-control m-b" name="site"required>
                                            <option value="1">True</option>
                                            <option value="0">False</option>
                                        </select>
                                    </div>
									<div class="form-group">
                                        <label>Purity Cut Off</label>
                                        <input type="text" placeholder="0.7" class="form-control" name="jobName" required>
                                    </div>
									<div class="form-group">
                                        <label>Normalize Samples</label>
                                        <select class="form-control m-b" name="site"required>
                                            <option value="1">True</option>
                                            <option value="0" selected>False</option>
                                        </select>
                                    </div>
									<div class="form-group">
                                        <label>DE Method</label>
                                        <input type="text" placeholder="0" class="form-control" name="jobName" required>
                                    </div>
									<div class="form-group">
                                        <label>Contrast Mutants</label>
                                        <input type="text" placeholder="0" class="form-control" name="jobName" required>
                                    </div>
                                 </div>   
                                    <div>
                                        <button class="btn btn-sm btn-primary m-t-n-xs" type="submit"><strong>Submit</strong></button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
					
					
					
                </div>
            </div>
        </div>


        {% include 'base/footer.html' %}

        {% include 'base/js_links.html' %}

        <script>
            $(document).ready(function() {
                $("#addJob").validate();
            });
        </script>
    </body>
</html>
